.custom_game_header {
	-fx-font-size: 1.55em;
	-fx-font-weight: bold;
	-fx-text-fill: rgb(135,122,99);
}

.custom_game_radio {
	-fx-font-size: 1.175em;
	-fx-text-fill: rgb(100,91,73);
}

.rules_plain_text {
	-fx-font-size: 1.2em;
	-fx-text-fill: rgb(50,45,36);
}

.about_plain_text {
	-fx-font-size: 1.2em;
	-fx-text-fill: rgb(50,45,36);
}

.about_link_text {
	-fx-font-size: 1.2em;
	-fx-text-fill: blue;
}

.about_link_text:hover {
	-fx-cursor: hand;
}